<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ken.messageboard.dao.MessageMapper">

    <resultMap id="messageMap" type="io.ken.messageboard.model.Message">
        <id column="id" property="id" javaType="int"/>
        <result column="user_id" property="userId" javaType="int"/>
        <result column="user_name" property="userName" javaType="String"/>
        <result column="body" property="body" javaType="String"/>
        <result column="parent_id" property="parentId" javaType="int"/>
        <result column="insert_time" property="insertTime" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="queryListPaging" resultMap="messageMap">
        SELECT *  FROM message WHERE parent_id=#{parentId} ORDER BY id DESC LIMIT #{offset},#{num}
    </select>

    <select id="queryListPagingAsc" resultMap="messageMap">
        SELECT *  FROM message WHERE parent_id=#{parentId} ORDER BY id ASC LIMIT #{offset},#{num}
    </select>

    <insert id="add" parameterType="io.ken.messageboard.model.Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message(user_id,user_name,body,parent_id,reply_num,insert_time,update_time)
            VALUES (#{userId},#{userName},#{body},#{parentId},#{replyNum},#{insertTime},#{updateTime})
    </insert>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM message
    </select>

</mapper>