<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ken.messageboard.dao.UserMapper">

    <resultMap id="userMap" type="io.ken.messageboard.model.User">
        <id column="id" property="id" javaType="int"/>
        <result column="name" property="name" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="insert_time" property="insertTime" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="queryByName" resultMap="userMap" parameterType="String">
        SELECT *  FROM user WHERE name = #{name}
    </select>

</mapper>