 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
TABLE
{
	font-size: 9pt;
	color: Black;
}
H1 {
	DISPLAY: inline; FONT-SIZE: 14px
}
H2 {
	FONT-SIZE: 12px
}
H3 {
	FONT-SIZE: 12px
}
H4 {
	FONT-SIZE: 12px
}
yy
{
	font-size:smaller;
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #000000; LINE-HEIGHT: 140%; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FF3300; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #006600
}
BODY {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ffffff; LINE-HEIGHT: 140%; PADDING-TOP: 0px; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.font12None {
	FONT-SIZE: 12px; COLOR: #4d4a4a; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.font12None A {
	FONT-SIZE: 12px; COLOR: #4d4a4a; TEXT-DECORATION: none
}
.font12None A:visited {
	FONT-SIZE: 12px; COLOR: #4d4a4a; TEXT-DECORATION: none
}
.font12None A:hover {
	FONT-SIZE: 12px; COLOR: #339900; TEXT-DECORATION: none
}
.font12WhiteNone {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.font12WhiteNone A {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.font12WhiteNone A:visited {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.font12WhiteNone A:hover {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
.fontGray {
	FONT-SIZE: 12px; COLOR: #999; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.fontGray A {
	FONT-SIZE: 12px; COLOR: #999
}
.fontGray A:visited {
	FONT-SIZE: 12px; COLOR: #999
}
.fontGray A:hover {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline
}
.fontBlue {
	FONT-SIZE: 12px; COLOR: #005699; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.fontBlue A {
	FONT-SIZE: 12px; COLOR: #005699; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.fontBlue A:visited {
	FONT-SIZE: 12px; COLOR: #005699; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.fontBlue A:hover {
	FONT-SIZE: 12px; COLOR: #999; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.fontBlueNone {
	FONT-SIZE: 12px; COLOR: #005699; TEXT-DECORATION: none
}
.fontBlueNone A {
	FONT-SIZE: 12px; COLOR: #005699; TEXT-DECORATION: none
}
.fontBlueNone A:visited {
	FONT-SIZE: 12px; COLOR: #005699
}
.fontBlueNone A:hover {
	FONT-SIZE: 12px; COLOR: #999; TEXT-DECORATION: underline
}
.fontGreen {
	FONT-SIZE: 12px; WIDTH: 533px; COLOR: #339900; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.fontGreen A {
	FONT-SIZE: 12px; COLOR: #339900; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.fontGreen A:visited {
	FONT-SIZE: 12px; COLOR: #339900; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.fontGreen A:hover {
	FONT-SIZE: 12px; COLOR: #339900; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.font14None {
	FONT-SIZE: 14px; COLOR: #4d4a4a; TEXT-DECORATION: none
}
.font14None A {
	FONT-SIZE: 14px; COLOR: #4d4a4a; TEXT-DECORATION: none
}
.font14None A:visited {
	FONT-SIZE: 14px; COLOR: #4d4a4a; TEXT-DECORATION: none
}
.font14None A:hover {
	FONT-SIZE: 14px; COLOR: #339900; TEXT-DECORATION: none
}
.font14Green {
	FONT-SIZE: 14px; COLOR: #339900
}
.font14Green A {
	FONT-SIZE: 14px; COLOR: #29880b; TEXT-DECORATION: none
}
.font14Green A:visited {
	FONT-SIZE: 14px; COLOR: #29880b
}
.font14Green A:hover {
	FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: underline
}
.loading {
	BACKGROUND-POSITION: 10px 0px; PADDING-LEFT: 30px; FLOAT: right; BACKGROUND-IMAGE: url(/images/loading.gif); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; COLOR: #ccc; BACKGROUND-REPEAT: no-repeat
}
.font10 {
	FONT-SIZE: 10px; COLOR: #4d4a4a
}
#top1 {
	CLEAR: both; BORDER-RIGHT: #50b246 1px solid; BORDER-TOP: #50b246 10px solid; BACKGROUND: #f8fbf9; MARGIN-LEFT: 15px; BORDER-LEFT: #50b246 1px solid; WIDTH: 950px; BORDER-BOTTOM: #50b246 1px solid; HEIGHT: 90px
}
#top2 {
	DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 230px; PADDING-TOP: 10px
}
#top3 {
	BORDER-RIGHT: #e0e3db 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e0e3db 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #e0e3db 1px solid; WIDTH: 690px; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e3db 1px solid; TEXT-ALIGN: center
}
#menu1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: #50b246; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 682px; PADDING-TOP: 5px; BORDER-BOTTOM: #bdd490 1px solid; LETTER-SPACING: 1px; HEIGHT: 23px
}
#menu1 UL {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
#menu1 LI {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: center
}
#menu1 LI A {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menu1 LI A:hover {
	TOP: -1px; TEXT-DECORATION: underline
}
#menu1 UL LI.sub1 A {
	WIDTH: 51px
}
#menu2 {
	PADDING-LEFT: 8px; BACKGROUND: #50b246; FLOAT: right; WIDTH: 682px; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e3db 1px solid; HEIGHT: 23px
}
#menu2 UL {
	CLEAR: left; DISPLAY: inline; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#menu2 LI {
	FLOAT: left
}
#menu2 LI A {
	FLOAT: left; COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menu2 LI A:hover {
	POSITION: relative; TOP: -1px; TEXT-DECORATION: underline
}
#menu2 UL LI#sub1 A {
	WIDTH: 51px
}
#menu2 UL LI#sub2 A {
	WIDTH: 50px
}
#menu2 UL LI#sub3 A {
	WIDTH: 51px
}
#menu2 UL LI#sub4 A {
	WIDTH: 51px
}
#menu2 UL LI#sub5 A {
	WIDTH: 51px
}
#menu2 UL LI#sub6 A {
	WIDTH: 51px
}
#menu2 UL LI#sub7 A {
	WIDTH: 51px
}
#menu2 UL LI#sub8 A {
	WIDTH: 51px
}
#menu2 UL LI#sub9 A {
	WIDTH: 51px
}
#menu3 {
	BACKGROUND: #7cb806; FLOAT: right; WIDTH: 675px; HEIGHT: 23px
}
#menu3 UL {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
#menu3 LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#menu3 LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menu3 LI A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; TOP: -1px; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
#menu3 UL LI#sub1 A {
	WIDTH: 60px
}
#menu3 UL LI#sub2 A {
	WIDTH: 60px
}
#menu3 UL LI#sub3 A {
	WIDTH: 58px
}
#menu3 UL LI#sub4 A {
	WIDTH: 59px
}
#menu3 UL LI#sub5 A {
	WIDTH: 59px
}
#menu3 UL LI#sub6 A {
	WIDTH: 60px
}
#menu3 UL LI#sub7 A {
	WIDTH: 80px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#menu3 UL LI#sub8 A {
	WIDTH: 60px
}
#menu3 UL LI#sub9 A {
	WIDTH: 70px
}
#topBar {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 950px; PADDING-TOP: 8px
}
#skidsMenu {
	BACKGROUND: #ffffff; WIDTH: 100%; BORDER-BOTTOM: #379f5b 5px solid; HEIGHT: 28px
}
#skidsMenu UL {
	LIST-STYLE-TYPE: none
}
#skidsMenu LI {
	DISPLAY: block; FONT-SIZE: 14px; FLOAT: left; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#skidsMenu LI A {
	BORDER-RIGHT: #339900 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #339900 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_10.gif); BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; BORDER-LEFT: #339900 1px solid; COLOR: #666; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#skidsMenu LI A:hover {
	FONT-SIZE: 14px; BACKGROUND: #339900; FLOAT: left; MARGIN-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: center
}
#searchBar {
	BACKGROUND-IMAGE: url(NewImages/Search_bg.jpg); MARGIN: 1px 0px 0px; WIDTH: 100%; HEIGHT: 31px! important
}
#top4 {
	MARGIN-TOP: 9px; FLOAT: left; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 60px; WIDTH: 40px; HEIGHT: 20px
}
#top5 {
	FLOAT: left; WIDTH: 640px; PADDING-TOP: 5px; HEIGHT: 20px
}
#top6 {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 350px; COLOR: #666; HEIGHT: 15px
}
#top7 {
	FLOAT: right; WIDTH: 150px; PADDING-TOP: 10px; HEIGHT: 15px
}
#top8 {
	BACKGROUND-POSITION: 0px 6px; PADDING-LEFT: 25px; FLOAT: right; BACKGROUND-IMAGE: url(/NewImages/user.gif); PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
#myMain {
	CLEAR: both
}
#main {
	BORDER-RIGHT: #319e57 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; OVERFLOW: hidden; BORDER-LEFT: #319e57 1px solid; WIDTH: 950px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#mainCode {
	BORDER-RIGHT: #319e57 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; OVERFLOW: hidden; BORDER-LEFT: #319e57 1px solid; WIDTH: 950px; PADDING-TOP: 0px
}
#mainLeft {
	CLEAR: both; DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 654px; TEXT-ALIGN: left
}
#mainLeftDefault {
	CLEAR: both; DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 700px; TEXT-ALIGN: left
}
#SubMainLeft {
	CLEAR: both; DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 654px; TEXT-ALIGN: left
}
#main1 {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 340px; BACKGROUND-REPEAT: no-repeat
}
#main2 {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_24.gif); WIDTH: 55px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#main3 {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_30.gif); WIDTH: 30px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#main4 {
	BACKGROUND-POSITION: 15px 3px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_27.gif); WIDTH: 30px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#main5 {
	BACKGROUND-POSITION: 12px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_33.gif); WIDTH: 55px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#main1CV {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; OVERFLOW: hidden; WIDTH: 330px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left
}
#main2CV {
	FLOAT: left; WIDTH: 65px; HEIGHT: 23px
}
#main2CV A {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_24.gif); WIDTH: 55px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-DECORATION: underline
}
#main2CV A:hover {
	TEXT-DECORATION: none
}
#main3CV {
	FLOAT: left; WIDTH: 55px; HEIGHT: 23px
}
#main3CV A {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_30.gif); WIDTH: 50px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-DECORATION: underline
}
#main3CV A:hover {
	TEXT-DECORATION: none
}
#main4CV {
	FLOAT: left; WIDTH: 67px; HEIGHT: 23px
}
#main4CV A {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_27.gif); WIDTH: 55px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-DECORATION: underline
}
#main4CV A:hover {
	TEXT-DECORATION: none
}
#main5CV {
	BACKGROUND-POSITION: 12px 7px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_33.gif); WIDTH: 55px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#main6 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; FLOAT: left; BORDER-LEFT: #339900 0px solid; WIDTH: 651px; BORDER-BOTTOM: #339900 1px solid
}
#main6New {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 0px solid; FLOAT: left; BORDER-LEFT: #339900 0px solid; WIDTH: 691px; BORDER-BOTTOM: #339900 1px solid
}
#main7 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND: #fbfdfc; FLOAT: left; WIDTH: 368px; HEIGHT: 255px
}
#main8 {
	PADDING-LEFT: 40px; BACKGROUND: url(images/index_50_1.gif) #fbfdfc no-repeat 10px 8px; MARGIN-LEFT: 20px; WIDTH: 345px; PADDING-TOP: 15px; HEIGHT: 25px; TEXT-ALIGN: left
}
#main8 H1 {
	FONT-SIZE: 14px
}
#main8_1 {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url(images/index_50.gif) #fbfdfc no-repeat 10px 8px; MARGIN-LEFT: 20px; WIDTH: 345px; PADDING-TOP: 15px; HEIGHT: 25px
}
#main8_1 H1 {
	FONT-SIZE: 14px
}
.main9 {
	BACKGROUND-POSITION: 3px 8px; PADDING-LEFT: 18px; BACKGROUND-IMAGE: url(images/icon.gif); MARGIN-LEFT: 3px; WIDTH: 390px; PADDING-TOP: 4px; BORDER-BOTTOM: #e8e9e1 1px dashed; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 18px; TEXT-ALIGN: left
}
.main9 A:hover {
	PADDING-LEFT: 3px
}
.main9_1 {
	FLOAT: left; WIDTH: 320px; COLOR: #4d4a4a; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.main9_2 {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 50px; FONT-FAMILY: Georgia,Times New Roman, Times, serif
}
.mainTime {
	FLOAT: right; WIDTH: 100px
}
#main10 {
	BACKGROUND-POSITION: 5px 30px; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_62.gif); WIDTH: 18px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 240px
}
#main11 {
	MARGIN-TOP: 120px; FLOAT: left; WIDTH: 17px; HEIGHT: 100px
}
#main12 {
	FLOAT: left; WIDTH: 256px; PADDING-TOP: 4px; HEIGHT: 240px
}
#main13 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 0px solid; PADDING-LEFT: 10px; BACKGROUND: #fff; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 680px; PADDING-TOP: 8px; BORDER-BOTTOM: #339900 1px solid; HEIGHT: 20px
}
#main14 {
	BORDER-RIGHT: #339900 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 14px; BACKGROUND: url(/images/tags.gif) #eef6e9 no-repeat 8px 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 626px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
#main14 A {
	FONT-SIZE: 14px
}
.cvMiddle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; OVERFLOW: hidden; WIDTH: 634px; PADDING-TOP: 5px; BORDER-BOTTOM: #339900 1px solid
}
.main15 {
	BORDER-RIGHT: #339900 1px solid; PADDING-LEFT: 2px; FLOAT: left; WIDTH: 322px
}
.main15_1 {
	MARGIN-TOP: 5px; BACKGROUND: url(images/index_89.gif) #50b246 no-repeat 20px 5px; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 320px; HEIGHT: 30px
}
.main15_2 {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 105px; PADDING-TOP: 3px; HEIGHT: 23px; TEXT-ALIGN: right
}
.main15_3 {
	FLOAT: left; MARGIN-LEFT: 35px; WIDTH: 180px; PADDING-TOP: 13px; HEIGHT: 13px; TEXT-ALIGN: left
}
.main15_4 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 310px; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px dashed; HEIGHT: 18px; TEXT-ALIGN: left
}
#main15_5 {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 330px; COLOR: #333333; HEIGHT: 20px; TEXT-ALIGN: left
}
#mainRight {
	BORDER-TOP: #319e57 1px solid; MARGIN-TOP: 6px; FLOAT: right; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #319e57 1px solid; WIDTH: 240px; BORDER-BOTTOM: #319e57 1px solid; HEIGHT: 100%
}
#SubMainRight {
	BORDER-TOP: #319e57 1px solid; MARGIN-TOP: 6px; FLOAT: right; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #319e57 1px solid; WIDTH: 294px; BORDER-BOTTOM: #319e57 1px solid; HEIGHT: 100%
}
#mainRightNew {
	PADDING-RIGHT: 0px; BORDER-TOP: #319e57 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #319e57 1px solid; WIDTH: 240px; PADDING-TOP: 0px; HEIGHT: 100%
}
#main16New {
	BACKGROUND-POSITION: 0px 10px; MARGIN-TOP: 10px; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); WIDTH: 295px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
#main16 {
	BACKGROUND-POSITION: 0px 10px; MARGIN-TOP: 10px; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); WIDTH: 235px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
#SubMain16 {
	BACKGROUND-POSITION: 0px 10px; MARGIN-TOP: 10px; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); WIDTH: 292px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
#main17 {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 5px; PADDING-LEFT: 5px; BACKGROUND: #fbfdfc; FLOAT: right; WIDTH: 232px; LINE-HEIGHT: 190%; PADDING-TOP: 5px
}
#SubMain17 {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 5px; PADDING-LEFT: 5px; BACKGROUND: #fbfdfc; FLOAT: right; WIDTH: 282px; LINE-HEIGHT: 190%; PADDING-TOP: 5px
}
#main17New {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 5px; BACKGROUND: #fbfdfc; FLOAT: right; LINE-HEIGHT: 190%; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#main18 {
	BACKGROUND-POSITION: 0px 4px; BORDER-TOP: #cfcfcf 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarBg2.GIF); PADDING-BOTTOM: 5px; WIDTH: 236px; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
#SubMain18 {
	BACKGROUND-POSITION: 0px 4px; BORDER-TOP: #cfcfcf 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarBg2.GIF); PADDING-BOTTOM: 5px; WIDTH: 284px; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.main19 {
	MARGIN-TOP: 8px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/index_77.gif); MARGIN-BOTTOM: 8px; WIDTH: 214px; PADDING-TOP: 4px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.SubMain19 {
	MARGIN-TOP: 8px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/index_77.gif); MARGIN-BOTTOM: 8px; WIDTH: 270px; PADDING-TOP: 4px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.main20 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: #fbfdfc; FLOAT: left; MARGIN-LEFT: 13px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 110px; COLOR: #666; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 18px; TEXT-ALIGN: left
}
.main20 A {
	COLOR: #339900; TEXT-DECORATION: none
}
.main20 A:hover {
	COLOR: #339900; TEXT-DECORATION: underline
}
.main20Default {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: #fbfdfc; FLOAT: left; MARGIN-LEFT: 13px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 88px; COLOR: #666; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 18px; TEXT-ALIGN: left
}
.main20Default A {
	COLOR: #339900; TEXT-DECORATION: none
}
.main20Default A:hover {
	COLOR: #339900; TEXT-DECORATION: underline
}
.main21 {
	BACKGROUND-POSITION: 0px 4px; BORDER-TOP: #cfcfcf 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarBg2.GIF); WIDTH: 235px; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.SubMain21 {
	BACKGROUND-POSITION: 0px 4px; BORDER-TOP: #cfcfcf 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarBg2.GIF); WIDTH: 284px; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
#main22 {
	BACKGROUND-POSITION: 4px 220px; PADDING-LEFT: 4px; FLOAT: left; BACKGROUND-IMAGE: url(images/url.gif); WIDTH: 18px; PADDING-TOP: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 440px
}
.main23 {
	FLOAT: left; COLOR: #339900
}
.main23 A:hover {
	BACKGROUND: #339900; COLOR: #fff
}
.SubMain23 {
	FLOAT: left; WIDTH: 290px; BORDER-BOTTOM: #ccc 1px dashed
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; MARGIN: 0px; LINE-HEIGHT: 24px
}
H1 A {
	DISPLAY: block; WIDTH: 214px; PADDING-TOP: 4px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1 A:hover {
	BACKGROUND: #eef6e9
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #339900; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
H2 A {
	COLOR: #999; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2 A:hover {
	BACKGROUND: #eef6e9
}
.main24 {
	BORDER-RIGHT: #cfcfcf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cfcfcf 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN-LEFT: 4px; BORDER-LEFT: #cfcfcf 1px solid; WIDTH: 70px; PADDING-TOP: 1px; BORDER-BOTTOM: #cfcfcf 1px solid; HEIGHT: 62px
}
.main25 {
	DISPLAY: inline; PADDING-LEFT: 3px; FLOAT: left; BORDER-BOTTOM: #cfcfcf 1px dotted; WHITE-SPACE: nowrap; HEIGHT: 18px; TEXT-ALIGN: left
}
#main26 {
	PADDING-LEFT: 13px; FLOAT: left; WIDTH: 210px
}
#SubMain26 {
	PADDING-LEFT: 0px; FLOAT: left; WIDTH: 280px
}
.main27 {
	MARGIN-TOP: 7px; PADDING-LEFT: 4px; FLOAT: left; WIDTH: 124px; HEIGHT: 20px; TEXT-ALIGN: left
}
.mainDefault23 {
	FLOAT: left; WIDTH: 210px; HEIGHT: 72px
}
.mainDefault24 {
	BORDER-RIGHT: #cfcfcf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cfcfcf 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #cfcfcf 1px solid; WIDTH: 70px; PADDING-TOP: 1px; BORDER-BOTTOM: #cfcfcf 1px solid; HEIGHT: 62px
}
.mainDefault25 {
	DISPLAY: inline; PADDING-LEFT: 3px; FLOAT: left; BORDER-BOTTOM: #cfcfcf 1px dotted; WHITE-SPACE: nowrap; HEIGHT: 18px; TEXT-ALIGN: left
}
.mainDefault27 {
	MARGIN-TOP: 7px; PADDING-LEFT: 4px; FLOAT: left; WIDTH: 124px; HEIGHT: 20px; TEXT-ALIGN: left
}
#main28 {
	BACKGROUND-POSITION: 0px 4px; BORDER-TOP: #cfcfcf 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/rightBarBg2.GIF); WIDTH: 285px; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
#main29 {
	FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 250px; TEXT-ALIGN: left
}
#footer {
	BORDER-RIGHT: #379f5b 1px solid; BORDER-TOP: #379f5b 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(images/mail.GIF) #f8fbf9 no-repeat 740px 10px; MARGIN-LEFT: 15px; BORDER-LEFT: #379f5b 1px solid; WIDTH: 930px; PADDING-TOP: 8px; BORDER-BOTTOM: #379f5b 0px solid; HEIGHT: 25px; TEXT-ALIGN: left
}
#footer1 {
	CLEAR: both; BORDER-RIGHT: #319e57 1px solid; BORDER-TOP: #319e57 0px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/index_98.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #319e57 1px solid; WIDTH: 940px; BORDER-BOTTOM: #319e57 0px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 40px
}
#SubList1 {
	BACKGROUND-POSITION: 15px 8px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_21.gif); WIDTH: 648px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
#list2 {
	BORDER-RIGHT: #319e57 1px solid; BORDER-TOP: #319e57 1px solid; FLOAT: left; BACKGROUND-IMAGE: url(images/barBg.gif); WIDTH: 195px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 693px; TEXT-ALIGN: center
}
.list3 {
	MARGIN-TOP: 1px; PADDING-LEFT: 30px; FLOAT: left; BACKGROUND-IMAGE: url(images/leftTopAngle.GIF); WIDTH: 250px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; TEXT-ALIGN: left
}
.listItem1 {
	OVERFLOW: hidden; WIDTH: 265px; COLOR: #474747; PADDING-TOP: 5px; BORDER-BOTTOM: #f1f1f1 1px solid; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.listItem1 A {
	FONT-SIZE: 14px; COLOR: #29880b; TEXT-DECORATION: none
}
.listItem1 A:hover {
	COLOR: #474747; TEXT-DECORATION: none
}
.list4 {
	MARGIN-TOP: 0px; FLOAT: left; WIDTH: 270px
}
.list5 {
	BACKGROUND-IMAGE: url(images/barBg.gif); WIDTH: 288px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
#list6 {
	BORDER-RIGHT: #319e57 1px solid; BORDER-TOP: #319e57 1px solid; FLOAT: right; MARGIN-BOTTOM: 5px; BORDER-LEFT: #319e57 1px solid; WIDTH: 640px; BORDER-BOTTOM: #319e57 1px solid; TEXT-ALIGN: center
}
#SubList6 {
	BORDER-RIGHT: #319e57 1px solid; BORDER-TOP: #319e57 1px solid; FLOAT: right; MARGIN-BOTTOM: 5px; BORDER-LEFT: #319e57 1px solid; WIDTH: 640px; BORDER-BOTTOM: #319e57 1px solid; TEXT-ALIGN: center
}
#list7 {
	WIDTH: 649px
}
#SubList7 {
	WIDTH: 648px
}
#list8 {
	BACKGROUND: #ecfbf3; MARGIN-BOTTOM: 5px; WIDTH: 635px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9efe5 3px solid
}
#SubList8 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ecfbf3; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 3px; WIDTH: 630px; PADDING-TOP: 3px; BORDER-BOTTOM: #e9efe5 3px solid
}
.list9 {
	MARGIN-TOP: 5px; WIDTH: 546px; PADDING-TOP: 3px; BORDER-BOTTOM: #666 1px dotted; HEIGHT: 20px; TEXT-ALIGN: left
}
.SubList9 {
	MARGIN-TOP: 5px; WIDTH: 546px; PADDING-TOP: 3px; BORDER-BOTTOM: #666 1px dotted; HEIGHT: 20px; TEXT-ALIGN: left
}
.list9A {
	PADDING-LEFT: 10px; FLOAT: left; OVERFLOW: hidden; WIDTH: 200px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.list9B {
	FLOAT: left; MARGIN: 3px 20px 5px 5px; WIDTH: 50px
}
.list9C {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 70px; COLOR: #666; FONT-FAMILY: Georgia,Times New Roman, Times, serif
}
.list9C {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 80px; COLOR: #666; FONT-FAMILY: Georgia,Times New Roman, Times, serif
}
.list9D {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 72px; COLOR: #666; FONT-FAMILY: Georgia,Times New Roman, Times, serif
}
.list9E {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 100px; COLOR: #666; FONT-FAMILY: Georgia,Times New Roman, Times, serif; TEXT-ALIGN: right
}
.list9F {
	CLEAR: both; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 4px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 80px; BORDER-BOTTOM: #cccccc 1px solid
}
.list10 {
	DISPLAY: block; WIDTH: 536px; COLOR: #999999; TEXT-INDENT: 2em; HEIGHT: 50px; BACKGROUND-COLOR: #fbfdfb
}
.list11 {
	PADDING-RIGHT: 5px; BORDER-TOP: #e9efe5 3px solid; MARGIN-TOP: 6px; PADDING-LEFT: 30px; WIDTH: 577px; COLOR: #999999; PADDING-TOP: 5px; BACKGROUND-COLOR: #ecfbf3; TEXT-ALIGN: right
}
.SubList11 {
	PADDING-RIGHT: 5px; BORDER-TOP: #e9efe5 3px solid; MARGIN-TOP: 6px; WIDTH: 630px; COLOR: #999999; PADDING-TOP: 5px; HEIGHT: 20px; BACKGROUND-COLOR: #ecfbf3; TEXT-ALIGN: right
}
.view0 {
	BACKGROUND-POSITION: 5px 30px; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_62_1.gif); WIDTH: 18px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
.view1 {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url(images/index_50.gif) #fbfdfc no-repeat 10px 8px; FLOAT: right; MARGIN-BOTTOM: 5px; WIDTH: 320px; MARGIN-RIGHT: 5px; PADDING-TOP: 15px; BORDER-BOTTOM: #e8e9e1 1px solid
}
.view1a {
	FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 260px
}
.view1b {
	FLOAT: right; WIDTH: 60px
}
.view2 {
	CLEAR: both; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 11px; BORDER-LEFT: #e8e9e1 2px solid; WIDTH: 340px; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px dotted; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; HEIGHT: 25px
}
.view3 {
	FLOAT: left; WIDTH: 275px
}
.view4 {
	FLOAT: right
}
.view6 {
	BACKGROUND-POSITION: 8px 5px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(images/author.gif); MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 11px; BORDER-LEFT: #e8e9e1 2px solid; WIDTH: 324px; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px dotted; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.view7 {
	BACKGROUND-POSITION: 8px 5px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(images/update.gif); MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 11px; BORDER-LEFT: #e8e9e1 2px solid; WIDTH: 325px; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px dotted; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.view8 {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #339900 1px solid; PADDING-LEFT: 10px; BACKGROUND: #50b246; FLOAT: left; WIDTH: 641px; PADDING-TOP: 8px
}
.view9 {
	BORDER-RIGHT: #e8e9e1 1px solid; BORDER-TOP: #e8e9e1 1px solid; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/viewBarBg.gif); MARGIN-LEFT: 8px; BORDER-LEFT: #e8e9e1 1px solid; WIDTH: 90px; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.view10 {
	BORDER-TOP: #e8e9e1 1px solid; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/viewBarBg.gif); WIDTH: 675px; COLOR: #999; BORDER-BOTTOM: #f7f7ef 1px dotted; BACKGROUND-REPEAT: repeat-x; HEIGHT: 5px; TEXT-ALIGN: right
}
.view11 {
	CLEAR: both; BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 7px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); OVERFLOW: hidden; WIDTH: 651px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.ctBbs {
	CLEAR: both; BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 13px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); OVERFLOW: hidden; WIDTH: 641px; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.view11a {
	CLEAR: both; BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 7px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); OVERFLOW: hidden; WIDTH: 651px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.view12 {
	CLEAR: both; BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 7px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 651px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fbfdfc
}
.view12a {
	CLEAR: both; BORDER-RIGHT: #339900 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 651px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fbfdfc
}
.view13 {
	CLEAR: both; BACKGROUND-IMAGE: url(images/viewBarBg.gif); MARGIN-LEFT: 20px; OVERFLOW: hidden; WIDTH: 81px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.view13a {
	BACKGROUND-IMAGE: url(images/viewBarBg.gif); MARGIN-LEFT: 20px; WIDTH: 150px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.view13b {
	BACKGROUND-IMAGE: url(images/viewBarBg.gif); MARGIN-LEFT: 20px; WIDTH: 190px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.view14 {
	BORDER-RIGHT: #e8e9e1 0px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #e8e9e1 1px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; BORDER-LEFT: #e8e9e1 0px dotted; WIDTH: 633px; TEXT-INDENT: 2em; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e9e1 1px dotted; TEXT-ALIGN: left
}
.view15 {
	BORDER-RIGHT: #e8e9e1 0px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #e8e9e1 1px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; BORDER-LEFT: #e8e9e1 0px dotted; WIDTH: 650px; TEXT-INDENT: 2em; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e9e1 1px dotted; HEIGHT: 25px; TEXT-ALIGN: left
}
.view16 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 50px; WIDTH: 601px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.view17 {
	BORDER-RIGHT: #50b246 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #50b246 1px solid; MARGIN-TOP: 2px; DISPLAY: block; BORDER-LEFT: #50b246 1px solid; WIDTH: 558px; BORDER-BOTTOM: #50b246 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eef6e9; TEXT-ALIGN: center
}
.view17A {
	BORDER-RIGHT: #50b246 1px solid; BORDER-TOP: #50b246 1px solid; MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 10px; BORDER-LEFT: #50b246 1px solid; WIDTH: 268px; PADDING-TOP: 5px; BORDER-BOTTOM: #50b246 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eef6e9; TEXT-ALIGN: center
}
.view18 {
	BORDER-RIGHT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; FLOAT: left; MARGIN-LEFT: 10px; BORDER-LEFT: #ccc 1px dotted; WIDTH: 315px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-COLOR: #fff
}
.view18a {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 310px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-COLOR: #fbfdfc
}
.view18b {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 310px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dashed; BACKGROUND-COLOR: #fbfdfc
}
.view18c {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 305px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-COLOR: #fbfdfc
}
.view19 {
	BACKGROUND-POSITION: 5px 1px; PADDING-LEFT: 25px; FLOAT: left; BACKGROUND-IMAGE: url(images/roundArrow.gif); WIDTH: 210px; COLOR: #ccc; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap
}
.view19a {
	BACKGROUND-POSITION: 5px 0px; PADDING-LEFT: 25px; FLOAT: left; BACKGROUND-IMAGE: url(images/textArrow.gif); WIDTH: 230px; COLOR: #ccc; BACKGROUND-REPEAT: no-repeat
}
.view19c {
	BACKGROUND-POSITION: 5px 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(images/textArrow.gif); WIDTH: 240px; COLOR: #ccc; BACKGROUND-REPEAT: no-repeat
}
.view20 {
	FLOAT: right; WIDTH: 60px
}
.view20a {
	FLOAT: right; WIDTH: 50px
}
.view20c {
	FLOAT: left; WIDTH: 60px
}
.view21 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN-LEFT: 6px; WIDTH: 293px; TEXT-INDENT: 2em; PADDING-TOP: 3px
}
.codeBbs {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(NewImages/post.GIF); COLOR: #339900; BACKGROUND-REPEAT: no-repeat
}
.ct1 {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_21.gif); WIDTH: 610px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
.ct1a {
	BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 33px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_21.gif); WIDTH: 710px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: left
}
.ct2 {
	BORDER-RIGHT: #339900 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #339900 1px solid; FLOAT: left; BACKGROUND-IMAGE: url(images/viewBarBg.gif); WIDTH: 631px; COLOR: #666; LINE-HEIGHT: 250%; PADDING-TOP: 12px; BORDER-BOTTOM: #f7f7ef 1px dotted; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.ct2 H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.ct3 {
	BORDER-RIGHT: #339900 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fbfdfc; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 631px; PADDING-TOP: 4px; BORDER-BOTTOM: #339900 1px solid; TEXT-ALIGN: center
}
.ct4 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 7px; BACKGROUND-IMAGE: url(images/rightBarbg1.GIF); WIDTH: 641px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.ct5 {
	BORDER-TOP: #339900 1px dotted; FLOAT: right; BACKGROUND-IMAGE: url(images/viewBarBg.gif); BORDER-LEFT: #339900 1px solid; WIDTH: 280px; BORDER-BOTTOM: #339900 1px dotted; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.ct6 {
	BORDER-RIGHT: #eaeaea 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eaeaea 1px dotted; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(images/viewBarBg.gif); PADDING-BOTTOM: 5px; BORDER-LEFT: #eaeaea 5px solid; WIDTH: 610px; COLOR: #339900; TEXT-INDENT: 2em; PADDING-TOP: 5px; BORDER-BOTTOM: #eaeaea 1px dotted; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left
}
.ct7 {
	BORDER-TOP: #eaeaea 1px solid; FONT-SIZE: 14px; PADDING-BOTTOM: 15px; WIDTH: 620px; COLOR: #666; LINE-HEIGHT: 160%; PADDING-TOP: 10px; BORDER-BOTTOM: #339900 1px solid; TEXT-ALIGN: left
}
.ct8 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 350px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.ct81 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 550px; COLOR: #000; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.ct9 {
	FLOAT: left; WIDTH: 410px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.ct10 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(images/viewBarBg.gif); PADDING-BOTTOM: 5px; WIDTH: 610px; COLOR: #339900; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: right
}
.ct101 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(images/viewBarBg.gif); PADDING-BOTTOM: 5px; WIDTH: 940px; COLOR: #999; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left
}
.ct11 {
	WIDTH: 280px
}
#download1 {
	BACKGROUND-POSITION: 15px 25px; PADDING-LEFT: 33px; FONT-SIZE: 16px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_21.gif); WIDTH: 915px; PADDING-TOP: 25px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
#download2 {
	BACKGROUND-POSITION: 15px 15px; PADDING-LEFT: 33px; FONT-SIZE: 16px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_21.gif); WIDTH: 670px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.HighLight {
	BORDER-RIGHT: #eaeaea 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eaeaea 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #eef6e9; PADDING-BOTTOM: 4px; BORDER-LEFT: #eaeaea 5px solid; WIDTH: 97%; PADDING-TOP: 4px; BORDER-BOTTOM: #eaeaea 1px solid
}
.Commend {
	BORDER-RIGHT: #339900 1px solid; MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 950px
}
.bar {
	BACKGROUND-POSITION: 0px 29px; BACKGROUND-IMAGE: url(images/lineBg.gif); WIDTH: 692px; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.sideBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/sideBg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 5px
}
#block1 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND: #fbfdfc; FLOAT: left; WIDTH: 411px; HEIGHT: 255px
}
#block2 {
	BORDER-RIGHT: #339900 1px solid; DISPLAY: none; BACKGROUND: #fbfdfc; FLOAT: left; WIDTH: 411px; HEIGHT: 255px
}
.btn1 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 80px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn2 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 80px; PADDING-TOP: 3px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn3 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 90px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn4 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 90px; PADDING-TOP: 3px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn5 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 90px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn6 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 90px; PADDING-TOP: 3px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.btn7 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 5px; BORDER-LEFT: #339900 1px solid; WIDTH: 65px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 17px; TEXT-ALIGN: center
}
.btn8 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 5px; BORDER-LEFT: #339900 1px solid; WIDTH: 65px; PADDING-TOP: 3px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 17px; TEXT-ALIGN: center
}
.btn10 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 4px; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 70px; COLOR: #339900; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 17px; TEXT-ALIGN: center
}
.btn11 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 4px; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 15px; BORDER-LEFT: #339900 1px solid; WIDTH: 70px; COLOR: #339900; PADDING-TOP: 3px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 17px; TEXT-ALIGN: center
}
.btn12 {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #50b246; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 60px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.btn13 {
	DISPLAY: block; FLOAT: left; WIDTH: 60px; CURSOR: pointer; COLOR: #339900; PADDING-TOP: 5px
}
.btnList1 {
	DISPLAY: block; BACKGROUND: #fff; FLOAT: left; WIDTH: 60px; COLOR: #339900; MARGIN-RIGHT: 5px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.btnList2 {
	DISPLAY: block; FLOAT: left; WIDTH: 50px; COLOR: #ffffff; TEXT-ALIGN: center
}
.div1 {
	MARGIN-TOP: 3px; BACKGROUND: #c2c2c2; FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 2px; HEIGHT: 22px
}
.div2 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 0px solid; BACKGROUND: #f8fbf9; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 690px; BORDER-BOTTOM: #339900 1px solid
}
.div3 {
	BACKGROUND: #50b246; FLOAT: left; WIDTH: 60px; PADDING-TOP: 5px; HEIGHT: 45px; TEXT-ALIGN: center
}
.div4 A {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 190px; COLOR: #339900; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.div5 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND: #f8fbf9; FLOAT: left; WIDTH: 691px; TEXT-ALIGN: center
}
.div6 {
	PADDING-LEFT: 6px; FLOAT: left; WIDTH: 160px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.div7 {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77.gif); WIDTH: 208px; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x
}
.div8 {
	BORDER-RIGHT: #339900 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 0px 0px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77.gif); PADDING-BOTTOM: 5px; WIDTH: 468px; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x
}
.div9 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f6f6f6; FLOAT: left; WIDTH: 681px; PADDING-TOP: 4px; BORDER-BOTTOM: #339900 1px solid; HEIGHT: 20px; TEXT-ALIGN: left
}
.div10 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 0px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77.gif); WIDTH: 341px; BACKGROUND-REPEAT: repeat-x
}
.div11 {
	BACKGROUND-POSITION: 0px 29px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/lineBg.gif); WIDTH: 332px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 35px
}
.div12 {
	BACKGROUND-POSITION: 0px 8px; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/13.gif); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.div12_1 {
	BACKGROUND-POSITION: 0px 8px; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/fbico.gif); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.block3 {
	BACKGROUND-POSITION: 0px 29px; PADDING-LEFT: 10px; WIDTH: 328px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
.block4 {
	BACKGROUND-POSITION: 0px 29px; DISPLAY: none; PADDING-LEFT: 10px; WIDTH: 328px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
.block5 {
	BACKGROUND-POSITION: 0px 29px; PADDING-LEFT: 10px; WIDTH: 328px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
.block6 {
	BACKGROUND-POSITION: 0px 29px; DISPLAY: none; PADDING-LEFT: 10px; WIDTH: 328px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
.block7 {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 94%
}
.block8 {
	DISPLAY: none; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 94%
}
.block10 {
	FLOAT: left; PADDING-BOTTOM: 5px; TEXT-ALIGN: center
}
.block11 {
	DISPLAY: none; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 215px
}
.block12 {
	FLOAT: left
}
.block13 {
	DISPLAY: none; FLOAT: left
}
.block14 {
	DISPLAY: none; FLOAT: left
}
.blockList1 {
	FLOAT: left
}
.blockList2 {
	FLOAT: left
}
.div13 {
	BACKGROUND-POSITION: 0px 29px; PADDING-LEFT: 10px; WIDTH: 328px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
.div14 {
	WIDTH: 326px; PADDING-TOP: 3px; BORDER-BOTTOM: #f0fbf4 1px solid; HEIGHT: 20px; TEXT-ALIGN: left
}
.div15 {
	MARGIN-TOP: 8px; BACKGROUND: #c2c2c2; FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 2px; HEIGHT: 22px
}
.div16 {
	BORDER-RIGHT: #339900 1px solid; BACKGROUND-POSITION: 0px 0px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77.gif); MARGIN-LEFT: 5px; BORDER-LEFT: #339900 1px solid; WIDTH: 342px; BACKGROUND-REPEAT: repeat-x
}
.div17 {
	MARGIN-TOP: 5px; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 235px; COLOR: #333
}
.div18 {
	BACKGROUND-POSITION: 0px 6px; MARGIN-TOP: 10px; FLOAT: left; BACKGROUND-IMAGE: url(images/loginBgLine.GIF); MARGIN-LEFT: 4px; WIDTH: 234px; COLOR: #666666; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
.div19 {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; MARGIN-TOP: 10px; FLOAT: left; BACKGROUND-IMAGE: url(images/index_77_1.gif); MARGIN-LEFT: 2px; BORDER-LEFT: #339900 1px solid; WIDTH: 232px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x
}
.div19 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 232px; PADDING-TOP: 0px
}
.div19 UL LI {
	BACKGROUND-POSITION: 3px 17px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(NewImages/arrowNews.gif); WIDTH: 213px; COLOR: #333; LINE-HEIGHT: 180%; BORDER-BOTTOM: #ccc 1px dashed; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.div19 UL LI A {
	TEXT-DECORATION: underline
}
.div19 UL LI A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.div20 {
	BACKGROUND-POSITION: 160px 4px; MARGIN-TOP: 12px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/29.gif); MARGIN-LEFT: 10px; WIDTH: 200px; BACKGROUND-REPEAT: no-repeat
}
.div21 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 200px
}
.div22 {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 10px; WIDTH: 80px
}
.div23 {
	MARGIN-TOP: 20px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 100px; COLOR: #339900
}
.div24 {
	BACKGROUND-POSITION: 0px 25px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(images/lineBg.gif); WIDTH: 226px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 31px
}
.div25 {
	PADDING-LEFT: 5px; WIDTH: 98%; PADDING-TOP: 5px
}
.div26 {
	CLEAR: both; BORDER-TOP: #339900 1px solid; OVERFLOW: hidden; WIDTH: 950px; BORDER-BOTTOM: #339900 1px solid
}
.div27 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #50b246; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 28px; PADDING-TOP: 0px; HEIGHT: 75px; TEXT-ALIGN: center
}
.div28 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 72px; PADDING-TOP: 0px; HEIGHT: 75px
}
.div29 {
	DISPLAY: block; FLOAT: left; WIDTH: 80px; COLOR: #339900; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
.div30 {
	DISPLAY: block; FLOAT: left; WIDTH: 80px; COLOR: #339900; PADDING-TOP: 5px; TEXT-DECORATION: overline
}
.div31 {
	WIDTH: 950px
}
.div32 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 300px
}
.div33 {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 5px; BACKGROUND: #fbfdfc; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px; WIDTH: 280px; LINE-HEIGHT: 190%; PADDING-TOP: 5px
}
.div34 {
	BORDER-TOP: #339900 1px solid; FLOAT: right; BACKGROUND-IMAGE: url(images/index_77_1.gif); WIDTH: 296px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px
}
.div35 {
	MARGIN-TOP: 5px; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/05.gif); MARGIN-LEFT: 5px; WIDTH: 100px; BACKGROUND-REPEAT: no-repeat
}
.div36 {
	PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 286px; BORDER-BOTTOM: #339900 1px solid
}
.div37 {
	PADDING-LEFT: 5px; FLOAT: left; WIDTH: 142px; TEXT-ALIGN: center
}
.div38 {
	FLOAT: left; WIDTH: 650px
}
.div39 {
	FLOAT: left; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px; PADDING-TOP: 5px; BORDER-BOTTOM: #339900 1px solid
}
.div40 {
	FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 90px; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px solid; TEXT-ALIGN: left
}
.div41 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #e8e9e1 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体,Arial, Helvetica, sans-serif"; TEXT-ALIGN: left
}
.div42 {
	PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #339900 1px solid; WIDTH: 142px; TEXT-ALIGN: center
}
.div43 {
	FLOAT: left; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px; PADDING-TOP: 5px; BORDER-BOTTOM: #339900 1px solid
}
.div44 {
	MARGIN-TOP: 5px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/58.gif); MARGIN-LEFT: 5px; WIDTH: 100px; BACKGROUND-REPEAT: no-repeat
}
.div45 {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; FLOAT: left; BORDER-LEFT: #efefef 1px solid; WIDTH: 88px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 31px; TEXT-ALIGN: center
}
.div46 {
	BACKGROUND-POSITION: 10px 15px; PADDING-LEFT: 95px; FLOAT: left; BACKGROUND-IMAGE: url(NewImages/62.gif); PADDING-BOTTOM: 5px; WIDTH: 835px; COLOR: #339900; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: 宋体,Arial, Helvetica, sans-serif
}
.focusNav {
	DISPLAY: none; FLOAT: left; WIDTH: 113px
}
.focusNavindex {
	DISPLAY: none; FLOAT: center; WIDTH: 150px
}
.focusPic {
	PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #339900 1px dashed; WIDTH: 450px; WORD-BREAK: break-all; BORDER-BOTTOM: #339900 1px dashed; HEIGHT: 300px
}
.focusTitle {
	PADDING-RIGHT: 2px; BORDER-TOP: #339900 1px dashed; PADDING-LEFT: 2px; BACKGROUND: #f8fbf9; PADDING-BOTTOM: 0px; WIDTH: 240px; PADDING-TOP: 0px
}
.focusBar {
	BACKGROUND: #339900; FLOAT: left; WIDTH: 27px; COLOR: #fff; MARGIN-RIGHT: 1px; HEIGHT: 18px; TEXT-ALIGN: center
}
.focusBarOn {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; FONT-WEIGHT: bold; BACKGROUND: #ffffff; FLOAT: left; BORDER-LEFT: #339900 1px solid; WIDTH: 26px; COLOR: #339900; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #339900 3px solid; HEIGHT: 14px; TEXT-ALIGN: center
}
.focusMore {
	FLOAT: center; WIDTH: 134px
}
.focusMoreindex {
	FLOAT: left; WIDTH: 100px
}
.rightContent {
	BORDER-RIGHT: #ccc 1px dashed; BORDER-TOP: #ccc 0px dashed; BACKGROUND: #eef6e9; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN-LEFT: 3px; BORDER-LEFT: #ccc 1px dashed; WIDTH: 266px; BORDER-BOTTOM: #ccc 1px dashed
}
.TagsCloud1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.TagsCloud2 {
	FONT-SIZE: 18px
}
.TagsCloud3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.TagsCloud4 {
	FONT-SIZE: 16px
}
.TagsCloud5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.TagsCloud6 {
	FONT-SIZE: 14px
}
.TagsCloud7 {
	FONT-WEIGHT: bold
}
.bbsList1 {
	BORDER-RIGHT: #339900 1px solid; DISPLAY: inline; FLOAT: left; WIDTH: 651px; PADDING-TOP: 8px; BACKGROUND-COLOR: #f2fbf8
}
.bbsList2 {
	PADDING-LEFT: 5px; FLOAT: left; WIDTH: 22px; PADDING-TOP: 2px
}
.bbsList3 {
	FLOAT: left; WIDTH: 423px
}
.bbsList4 {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(/images/userinfo.gif); WIDTH: 100px; BACKGROUND-REPEAT: no-repeat
}
.bbsList5 {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 100px; COLOR: #666666
}
.bbsList6 {
	BORDER-RIGHT: #339900 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; OVERFLOW: hidden; WIDTH: 515px; COLOR: #339900; PADDING-TOP: 5px; BACKGROUND-COLOR: #fbfdfc; TEXT-ALIGN: right
}
.bbslist7 {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 18px; FLOAT: left; BACKGROUND-IMAGE: url(/NewImages/iconWrite.gif); MARGIN-LEFT: 1px; OVERFLOW: hidden; WIDTH: 108px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.bbslist8 {
	BORDER-RIGHT: #339900 1px solid; FLOAT: left; WIDTH: 671px; COLOR: #339900
}
.bbslist9 {
	FLOAT: right; WIDTH: 130px
}
.bbslist10 {
	BACKGROUND: #fff; FLOAT: right; WIDTH: 20px; COLOR: #339900; BORDER-BOTTOM: #ccc 1px solid
}
.bbsTitle {
	FLOAT: left; BORDER-BOTTOM: #ccc 1px dashed
}
.bbsContent {
	PADDING-RIGHT: 3px; MARGIN-TOP: 3px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN-LEFT: 3px; WIDTH: 631px; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fbfdfc; TEXT-ALIGN: left
}
.bbsReply {
	BORDER-RIGHT: #ccc 1px dotted; PADDING-RIGHT: 3px; BACKGROUND-POSITION: 2px 5px; BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 3px; PADDING-LEFT: 3px; FLOAT: left; BACKGROUND-IMAGE: url(/NewImages/comments3.gif); PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px dotted; WIDTH: 625px; COLOR: #666666; WORD-BREAK: break-all; TEXT-INDENT: 2em; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 0px dotted; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f2fbf8; TEXT-ALIGN: left
}
.codeContent {
	BORDER-RIGHT: #eaeaea 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eaeaea 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: #f7fafe; PADDING-BOTTOM: 4px; MARGIN: 3px; OVERFLOW: scroll; BORDER-LEFT: #eaeaea 5px solid; COLOR: #333; WORD-BREAK: break-all; PADDING-TOP: 14px; BORDER-BOTTOM: #eaeaea 1px solid; TEXT-ALIGN: left
}
.codeContentTitle {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #e4f1e8; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#codeTree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Georgia,Times New Roman, Times, serif
}
.FriendLink {
	PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px 5px; BORDER-LEFT: #339900 1px dashed; WIDTH: 95px; TEXT-ALIGN: center
}
.FriendLinkFirst {
	PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px 5px; WIDTH: 95px; TEXT-ALIGN: center
}
.focus {
	BACKGROUND: url(/NewImages/fucusBg.gif) repeat-x; COLOR: #339900; BORDER-BOTTOM-STYLE: none
}
LI.focus {
	BORDER-BOTTOM: #000 1px
}
LI.focus A:visited {
	COLOR: white; TEXT-DECORATION: none
}
LI.focus A {
	COLOR: white; TEXT-DECORATION: none
}
.rightTab {
	DISPLAY: block; FLOAT: left; WIDTH: 78px; COLOR: #339900; TEXT-ALIGN: center
}
.HitsTop {
	MARGIN-TOP: 8px; DISPLAY: block; BACKGROUND-IMAGE: url(images/index_77.gif); MARGIN-BOTTOM: 8px; WIDTH: 280px; PADDING-TOP: 4px; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-REPEAT: repeat-x; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.paginator {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 11px Arial, Helvetica, sans-serif; PADDING-TOP: 10px
}
.paginator A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #ddd 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.paginator A:visited {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.paginator .cpb {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.paginator A:hover {
	BORDER-LEFT-COLOR: #fff; BACKGROUND: #339900; BORDER-BOTTOM-COLOR: #fff; COLOR: #fff; BORDER-TOP-COLOR: #fff; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #fff
}
