<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--        配置环境-->
    <environments default="sqlite">
        <!--            <environment id="mysql">-->
        <!--                <transactionManager type="JDBC"></transactionManager>-->
        <!--                <dataSource type="POOLED">-->
        <!--                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
        <!--                    <property name="url" value="jdbc:mysql:///ssm"/>-->
        <!--                    <property name="username" value="root"/>-->
        <!--                    <property name="password" value="12345678"/>-->
        <!--                </dataSource>-->
        <!--            </environment>-->
        <environment id="sqlite">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:/Users/veve/Documents/db_demo.db"/>
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <!--    引入映射配置文件-->
    <mappers>
        <mapper resource="com/veveup/dao/AccountDao.xml"></mapper>
        <mapper resource="com/veveup/dao/MessageDao.xml"></mapper>
        <!--        <mapper class="com.veveup.dao.AccountDao"></mapper>-->
        <!--        <package name="com.veveup.dao"/>-->
        <mapper resource="com/veveup/dao/UserDao.xml"></mapper>
    </mappers>

</configuration>