/*body*/
.body{
	width: 100%; 
	height:100%;
	margin: 0 auto;
	background-color: #F8F8FF;
}

/*下半部分*/
.body_bottom{
	width: 100%;
	height: 18.75em;
	margin: 0 auto;
	position: relative;
	top:0.9375em;
}

/*提示信息*/
.tip{
	border-bottom: 0.125em #CFCFCF solid;
	width: 100%;
	height: 1.25em;
	position: relative;
	top:0.625em;
	padding-bottom: 0.625em;
}
.tip span{
	color: #9ACD32;
	margin: 0 auto;
	position: relative;
	left:30em;
}
/*表单*/
.body_form{
	width: 37.5em;
	height: 12.5em;
	margin:0 auto;
	position: relative;
	top:6.25em;
	padding: 1.25em;

	border-width:0.05em;
	border-style:solid;
	border-color:rgb(120, 195, 0);
	border-radius:1em;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;

	background-color: white;
}

.form_text{
	width: 20.9375em;
	height: 3.4em;
	margin: 0 auto;
	position: relative;
	top:0.9375em;
	left:1.5em;
}
.form_text input{
	height: 1.75em;
	border-width:0.0625em;
	border-style:solid;
	border-color:gray;
	border-radius:0.375em;
	border-top-left-radius:0.375em;
	border-top-right-radius:0.375em;
	border-bottom-left-radius:0.375em;
	border-bottom-right-radius:0.375em;
}


.identifyingCode{
	width: 20.9375em;
	height: 3.4em;
	margin: 0 auto;
	position: relative;
	top:0.9375em;
	left:1.5em;

}
.identifyingCode span{
	float: left;
}
.identifyingCode input{
	float: left;
	height: 1.75em;
	border-width:0.0625em;
	border-style:solid;
	border-color:gray;
	border-radius:0.375em;
	border-top-left-radius:0.375em;
	border-top-right-radius:0.375em;
	border-bottom-left-radius:0.375em;
	border-bottom-right-radius:0.375em;
	position: relative;
	left:0.25em;
}
#idcode{
	width: 6.25em;
	height: 1.5625em;
	position: relative;
	left: 0.3125em;
	float: left;
	background-image: url(../images/timg.jpg);
}
.id_tip{
	width: 6.25em;
	height: 0.9375em;
	font-size: 0.625em;
	position: relative;
	top: 0.9375em;
	float: left;
}
.id_tip a{
	color:black;
}
.exchange{
	width: 1.5em;
	height: 1.25em;
	position: relative;
	top: 3.125em;
	float: left;
}


.button{
	width: 12.375em;
	height: 2.375em;
    margin:0 auto;
    position: relative;
    top: 1.5em;
    left: 0.7em;
}
.button input{
	display:block;
	width:12.375em;
	height:2.375em; 
	line-height:2.375em; 
	text-align:center; 
	font-size:0.9375em; 
	background:rgb(120, 195, 0);
	color:#fff; 
	text-decoration:none; 
	cursor:pointer;

	border-width:0.0625;
	border-style:solid;
	border-color:rgb(120, 195, 0);
	border-radius:1em;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
}

/*返回登录*/
.return_login{
	width: 6.25em;
	height: 1.5625em;
    margin:0 auto;
	position: relative;
	left: 1.125em;
	top:11.25em;
	text-align: center;
}
.return_login a{
	color: rgb(120, 195, 0);
}

